name: Deploy to Lambda
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::222261726820:role/GitHubLambdaRole
          aws-region: us-east-1

      - name: Deploy Code
        uses: aws-actions/aws-lambda-deploy@v1
        with:
          function-name: devops_agent1
          code-artifacts-dir: ./src 